<div class="container card mb-2 py-4">
  <div class="card-body">
    <h3 class="card-title">Crear nueva tarea</h3>
    <div [formGroup]="form">
      <div class="mb-2 form-group input-group-lg">
        <label for="description">Nombre de la tarea</label>
        <input class="form-control" type="text" id="description" formControlName="description">
        <div *ngIf="form.controls['description'].hasError('required')">Description is required
        </div>
      </div>
      <div class="mb-2 form-group input-group-lg">
        <label for="deadline">Fecha límite</label>
        <input class="form-control" type="date" id="deadline" formControlName="deadline">
      </div>
      <ng-container formArrayName="asociatedPersons">
        <h5 class="card-title">Personas asociadas:</h5>
        <ng-container *ngFor="let personForm of persons.controls; let pi = index">
          <div formGroupName="personForm">
            <div class="container card mb-2 py-4">
              <div class="mb-2 d-flex flex-row justify-content-start align-items-center form-group input-group-lg">
                <div class="separate-right"><label for="name">Nombre</label>
                  <input class="form-control" type="text" id="name" formControlName="name">
                </div>
                <div class="ml-2"><label for="age">Edad</label>
                  <input class="form-control" type="text" id="age" formControlName="age">
                </div>
              </div>
              <ng-container formArrayName="skills">
                <p *ngIf="skills.length>0">Habilidades:</p>
                <ng-container *ngFor="let skillForm of skills.controls; let ki = index">
                  <div formGroupName="skillForm">
                    <div class="mb-2 d-flex flex-row justify-content-start align-items-center">
                      <div class="separate-right"><input class="form-control" type="text" id="skill"
                          formControlName="skill"></div>
                      <button class="btn btn-danger btn-block" (click)="deleteSkill(pi,ki)">
                        Eliminar
                      </button>
                    </div>
                  </div>
                </ng-container>
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <button class="btn btn-primary btn-block separate-right" (click)="addSkill(pi)">
                    Añadir habilidad
                  </button>
                  <button class="btn btn-danger btn-block" (click)="deletePerson(pi)">
                    Eliminar Persona
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <button class="btn btn-primary btn-block" (click)="addPerson()">
          Añadir Persona
        </button>
        <button class="btn btn-primary btn-block" (click)="saveTask()">
          Guardar tarea
        </button>
      </div>
    </div>
  </div>
</div>